main.servers=irc.mydomain.de
main.nickname=HaDiBot2
main.channels=#myhadibot
main.plugins_include=stdplugin
main.plugins_exclude=
main.verbosity=info

#main.log_file=log.txt
#main.log_verbosity=debug
#main.ignore_unknown_cmds=0
#main.public_prefix=!

#plugins.stdplugin.config.reg_users.myuser.passwd=mypassword
#plugins.stdplugin.config.reg_users.myuser.level=5

#plugins.ldap.config.ldap.server=ldap://ldap.mydomain.de
#plugins.ldap.config.ldap.login=cn=readonly,dc=mydomain,dc=de
#plugins.ldap.config.ldap.password=mypassword

#plugins.ldap.config.diff.interval=600
#plugins.ldap.config.diff.server.announce=#myhadibot
#plugins.ldap.config.diff.server.base=ou=server,dc=mydomain,dc=de
#plugins.ldap.config.diff.server.filter=(objectClass=*)
#plugins.ldap.config.diff.server.attributes=memberUid

#plugins.irccat.config.distribution=*:-#myhadibot
#plugins.irccat.config.password=mypassword
#plugins.irccat.config.port=1685
#plugins.irccat.config.keyfile=mykey.key
#plugins.irccat.config.certfile=mycert.crt
